nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: darkblue;
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}
p {
    padding: 0;
}
aside {
    width: 52em;
    margin: 2px;
    border: 1px solid brown;
    padding: 1px;
    background-color: #fff;
    color: #000;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 2px double #020299;
    text-align: center;
}