:root {
    --nav-background-color: darkblue;
    --main-img-nav-aside-color: #ffe;
    --aside-color: darkblue;
    --border-1: 1px;
    --border-2: 2px;
    --txt-center: center;
}
nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}
nav a {
    color: var(--main-img-nav-aside-color);
    display: block;
    padding: 10px;
}
h1 {
    color: darkblue;
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
    border: var(--border-2) solid var(--main-img-aside-color);
    padding: var(--border-2);
    box-shadow: 0 0 30px grey;
}
p {
    padding: 0;
}
aside {
    width: 52em;
    margin: 2px;
    border: var(--border-1) solid brown;
    padding: var(--border-2);
    background-color: var(--main-img-nav-aside-color);
    color: var(--aside-color);
    text-align: var(--txt-center);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: var(--border-2) double #020299;
    text-align: var(--txt-center)
}